@import '../../assets/scss/variables.scss';

.budget {
  height: 100%;
  background: $primary-violet;
  padding: 25px 0 0;

  & .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
