@import '../../assets/scss/variables.scss';

.budget {
  height: 100vh;
  background: $primary-violet;
  padding: 25px 0 90px;

  & .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.create-budget {
  padding: 25px 0 0;
}
