@import '../../assets/scss/variables.scss';

.budget {
  background: $primary-violet;

  & .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__btn {
    max-width: 300px;
    margin: 0 auto;
  }
  & .money__form .budget__btn {
    max-width: 100%;
  }
}
