@import '../../assets//scss/variables.scss';

.intervals {
  max-width: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #91919f;
  background: $violet-bg;
  border-radius: 32px;

  margin: 0 auto;

  &__item {
    width: 50%;
    flex-shrink: 0;
    line-height: 1;
    text-align: center;
    border-radius: 32px;
    padding: 15px 0;

    &.active {
      color: #fff;
      background: $primary-violet;
    }
  }
}

.spend {
  &__title {
    margin-bottom: 20px;
  }
  &__graph {
    max-width: 250px;
    margin: 0 auto 20px;

    & img {
      margin: 0 auto;
    }
  }
}
