@import '../../assets//scss/variables.scss';

.intervals {
  max-width: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #91919f;

  margin: 0 auto;

  &__item {
    width: 75px;
    height: 34px;
    flex-shrink: 0;
    line-height: 16px;
    text-align: center;
    border-radius: 16px;
    // padding: 8px 25px;
    padding: 8px 0;

    &.active {
      color: $primary-orange;
      background: $primary-orange-bg;
    }
  }
}

.spend {
  &__title {
    margin-bottom: 15px;
  }
  &__graph {
    margin-bottom: 10px;

    & img {
      margin: 0 auto;
    }
  }
}
