.money {
  padding-top: 25px;

  &__title {
    position: relative;
    color: #fff;
    text-align: center;

    margin-bottom: 75px;
  }
  &__back {
    position: absolute;
    left: 0;
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 600;
    color: #fcb7bc;

    margin-bottom: 15px;
  }
  &__count {
    display: flex;
    align-items: center;
    font-size: 64px;
    font-weight: 600;
    color: #fff;

    margin-bottom: 15px;
  }
  &__settings {
    background: #fff;
    border-radius: 32px 32px 0 0;

    padding: 25px 15px;
    margin: 0 -15px;
  }
  &__field {
    display: block;
    width: 100%;
    font-family: inherit;
    color: #91919f;
    background: #fff;
    border: 1px solid #f1f1fa;
    border-radius: 16px;

    padding: 14px 16px;
    margin-bottom: 15px;
  }
}
