@import '../../assets/scss/variables.scss';

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__list {
    position: relative;
    z-index: 30;
    display: flex;
    align-items: flex-end;
    background: #fcfcfc;
    padding: 25px 15px;

    &-item {
      &.active {
        .nav__list-ico svg path {
          fill: $primary-violet;
        }
        .nav__list-caption {
          color: $primary-violet;
        }
      }
      &:not(:last-child) {
        margin-right: 25px;
      }
      &:nth-child(2) {
        margin-right: auto;
      }
    }
    &-ico {
      text-align: center;
      margin: 0 auto 5px;
    }
    &-caption {
      display: block;
      font-size: 10px;
      color: #c6c6c6;
    }
  }
  &__btn {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: $primary-violet;
    border-radius: 50%;
    transition: all 0.5s ease;

    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    z-index: 50;

    margin: 0 auto;

    &.active {
      transform: rotate(45deg);
    }
  }
  &__actions {
    width: 190px;
    height: 190px;
    transform: rotateZ(-112deg);
    transform-origin: bottom;
    transition: all 0.5s ease;
    z-index: 20;

    position: fixed;
    bottom: 35px;
    left: 0;
    right: 0;
    margin: auto;

    &.active {
      transform: rotateZ(0deg);
    }

    &-btn {
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 50%;

      margin: 0 auto;
    }

    &--income,
    &--expense,
    &--transfer,
    &--open {
      position: absolute;
    }
    &--transfer {
      background: $primary-blue;

      top: 0;
      left: 0;
      right: 0;
    }
    &--income {
      background: $primary-green;
      transform: translateY(-50%);

      left: 0;
      top: 50%;
    }
    &--expense {
      background: $primary-red;
      transform: translateY(-50%);

      right: 0;
      top: 50%;
    }
    &--open {
      background: $primary-violet;

      bottom: 35px;
      left: 0;
      right: 0;
    }
  }
}
